#header {
	background:#222;
	color:#f7f7f7;
	padding:25px;
	margin-bottom:15px;
}

body > .container div[class*="col"] {
	margin-bottom:10px;
}

#header h1 {
	font-size:1.2em;
	margin:0;
}

.wrapper > div{
	padding:10px;
}
.wrapper a {
	display:block;
	background-color:rgba(0, 146, 255, 1);
	padding:10px;
	color:#f7f7f7;
}

.bg-danger {
	padding:15px;
	border:1px solid #ffb3b3;
}

a.edit {
	position:absolute;
	top:50%;
	right:10px;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	font-size:10px;
	background-color:transparent;
	display:none;
}

.add i {
    margin-right:10px;
}

a.add {
    background-color:#aa6708;
}

.wrapper > div:hover .edit{
	display:block;
}

.photo-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width:75px;
    height:75px;
	border-radius:50%;
}

@media (min-width:769px)
{
    .photo-container{
        position:absolute;
        top:-15px;
        right:0px;
    }
}

@media (max-width:768px)
{
	.photo-container {
		clear:both;
	}
	
	.profile-photo {
		margin-left:auto;
		margin-right:auto;
		padding-top:10px;
	}
}